body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square {
    box-sizing: border-box;
}

button {
    margin-bottom: 32px;
}