body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 960px;
    height: 960px;
}

.square {
    border: solid black;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    box-sizing: border-box;
}

button {
    margin-bottom: 32px;
}